@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #383535;
}

.container{width:  60%;margin:  0 auto;}
.top{
    width:  100%;
    height: 7vh;
}
.topContact{
    width: 50%;
    float:  left;
    line-height:  7vh;
}
.topContact i{
    padding:  0 5px 0 2px;
    color:  #33cccc;
}
.topContact p{
    display:  inline-block;
    padding-right: 30px;
}
.topSoc{
    width:  50%;
    float:  left;
    line-height:  7vh;
    text-align:  right;
}
.topSoc a{
    color:  #33cccc;
}
.topSoc a i{
    padding-left:  15px;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
}
.topSoc a i:hover{
   color: #636767;
}
header{
    background-color: #33cccc;
    height:  11vh;
}
.logo{
    width:  20%;
    float:  left;
    line-height: 11vh;
}
.logo img{}
nav{
    width:  80%;
    float:  left;
    line-height:  11vh;
}
nav ul{
    text-align:  right;
    list-style:  none;
}
nav ul li{
    display:  inline-block;
    text-transform:  capitalize;
}
nav ul li a{
    text-decoration:  blink;
    padding-left:  15px;
    color:  #fff;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
}
nav ul li a:hover{
   color: #636767;
}
.banner{

width:  100%;

background-image:  url(../images/banner.jpeg);

color:  #fff;

height:  70vh;

position:  relative;

background-size:  cover;
}
.bannerText{
    position:  absolute;
    width: 35%;
    top: 30%;
    transform: translateY(-10%);
}
.bannerText h2{
    font-size:  25px;
    padding-bottom:  20px;
}
.bannerText h1{
    font-size:  40px;
    padding-bottom:  20px;
}
.bannerText p{
    padding-bottom:  30px;
}
.bannerLink{
    display:  block;
    position:  absolute;
    bottom: 27%;
    transform: translateY(27%);
    width:  30%;
}
.bannerLink ul{
    list-style:  none;
}
.bannerLink ul li{
    display:  inline-block;
    padding-right: 5%;
}
.bannerLink ul li a{
    color:  #fff;
    text-decoration:  blink;
    text-transform:  uppercase;
    border: 1px solid #fff;
    padding:  5px;
    font-weight:  bold;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
} 
.bannerLink ul li a:hover{
  border: 1px solid #33cccc;
    background-color: #33cccc;
}
.bannerLine{
    position:  absolute;
    bottom: 13%;
    width:  25%;
}
.bannerLine hr{
    display: inline-block;
    width: 15%;
    padding:  1px;
    background-color:  #fff;
}
.bannerLine .blue{
    background-color: #19d8d8;
}
.arrowLeft{
    position:  absolute;
    left: 5%;
    color:  #fff;
    top: 50%;
    transform:  translate(-5%,-50%);
    font-size:  30px;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
}
.arrowLeft:hover{
  color: #33cccc;
}
.arrowRight{
    position:  absolute;
    right: 5%;
    color:  #fff;
    top: 50%;
    font-size:  30px;
    transform:  translate(5%,-50%);
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
}
.arrowRight:hover{
    color: #33cccc;
}
span{
    color: #33cccc;
    font-weight:  bolder;
}
.aboutUs{
    width:  100%;
    background-color:  #fff;
    position:  relative;
    height:  90vh;
}
.aboutUsText{
    position:  absolute;
    width: 35%;
    top: 30%;
    color:  #636767;
    float:  left;
    transform:  translateY(-10%);
}
.aboutUsText h1{
    font-size:  34px;
    padding:  5px 0;
}
.aboutUsText hr{
    width:  26%;
    border: 2px solid #33cccc;
}
.aboutUsText p{padding: 50px 0;}
.aboutUsText a{
    text-decoration:  blink;
    text-transform:  uppercase;
    color: #FFF;
    border: 1px solid #33cccc;
    background-color: #33cccc;
    padding:  10px;
    font-weight:  bolder;
}
.aboutUsimg{
    width: 28%;
    position: absolute;
    right: 15%;
    bottom: 18%;
}
.aboutUsimg img{
    width:  100%;
    height:  100%;
}
.midContact{
    width:  100%;
    background-color: #33cccc;
    height:  15vh;
    color: black;
}
.midText{
    line-height:  15vh;
    width: 80%;
    color:  #fff;
    float:  left;
}
.midText h2{
    font-size: 18px;
}
.midText h2 strong{
    font-size: 28px;
}
.midLink{
    width: 20%;
    float: left;
    line-height:  15vh;
    text-align: center;
}
.midLink a{
    text-transform: uppercase;
    color:  #fff;
    text-decoration:  blink;
    border: 1px solid #ffffff;
    padding:  5px;
    border-top: 2px solid;
}
.service{
    padding: 70px 0;
    width:  100%;
    height: 120vh;
}
.serText{
    text-align:  center;
    width: 80%;
    margin:  0 auto;
}
.serText h2{
    padding-bottom: 15px;
    text-align: center;
    width:  100%;
}
.serText hr{
    width: 30%;
    margin:  0 auto;
    padding:  1px;
    background-color: #33cccc;
}
.serText p{
    padding-top:  15px;
    padding-bottom:  50px;
}
.icon{
    width:  100%;
    padding-top: 15%;
    padding-bottom: 5%;
}
.iconText{
    width: 24.33%;
    float:  left;
    position:  relative;
}
.iconText img{margin-left: 30%;}
.iconText h3{
    text-align:  center;
    padding: 40px 0;
}
.iconText i{
    position:  absolute;
    top: 7%;
    right: 43%;
    color:  #fff;
    font-size:  35px;
    transform: translate(25%,35%);
}
.iconText p{
    text-align:  center;
    width:  100%;
    padding:  0 5px;
}
.protfolio{
    background-color: #f2f2f2;
    padding-top:  5%;
}
.protText{
    width: 80%;
    margin:  0 auto;
    text-align:  center;
}
.protText h2{
    padding:  10px 0;
}
.protText hr{
    padding:  1px 0;
    background-color: #26bfbd;
    width: 25%;
    margin:  0 auto;
}
.protText p{
    padding:  15px 0;
}
.protText ul{
    list-style:  none;
    margin-top:  5px;
    margin-bottom:  15px;
}
.protText ul li{
    display:  inline-block;
    padding: 0 5%;
}
.protText ul li a{
    text-transform:  uppercase;
    text-decoration:  blink;
    color: #383535;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
}
.protText ul li a:hover{
  color: #26bfbd;
    border-bottom: double;
}
.protPic{
    margin-top: 5%;
    width:  100%;
    height: 50vh;
    background-color: #f2f2f2;
}
.protImgLink{
    width:  33.33%;
    float:  left;
    position:  relative;
    padding:  0 10px;
}
.protImgLink::before{
  content: "";
    position: absolute;
    background-color: #26bfbd;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    transform: scale(0);
}
.protImgLink:hover::before {
    opacity: 0.6;
    transform: scale(0.9);
}
.protImgLink img{
    width:  100%;
}
.protImgLink ul{
    list-style:  none;
    text-align:  center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:  translate(-50%,-50%);
}
.protImgLink ul li{
    display:  inline-block;
    
}
.protImgLink ul li a{
    color: #fff;
    padding: 0 5px;
    font-size:  40px;
}
.protfolio1{
    width:  100%;
    background-color: #f2f2f2;
    height:  50vh;
}
.protImgLink1{
    width:  33.33%;
    float:  left;
    position:  relative;
    padding: 0 10px;
}
.protImgLink1:before{
 content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #26bfbd;
    opacity: 0.6;
    transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    transform: scale(0);
}
.protImgLink1:hover::before {
    transform: scale(0.9);

}
.protImgLink1 img{
    width:  100%;
}
.protImgLink1 ul{list-style:  none;text-align:  center;position:  absolute;left: 50%;top: 50%;transform:  translate(-50%,-50%);}
.protImgLink1 ul li{
    display:  inline-block;
}
.protImgLink1 ul li a{color:  #fff;font-size:  40px;}
.review{
    margin-top:  5%;
    text-align:  center;
    height:  75vh;
}
.reviewText{
    width:  90%;
    margin:  0 auto;
}
.reviewText h3{
    margin-bottom: 4%;
}
.reviewText hr{
    width: 15%;
    margin:  0 auto;
    border: 3px solid #26bfbd;
    margin-bottom:  5%;
}
.reviewText p{
    margin-bottom:  5%;
}
.client{
    padding-top: 5%;
    width:  100%;
}
.client1{
    width:  50%;
    float:  left;
}
.client1 img{}
.client1 h2{
    padding:  15px 0;
}
.client1 p{
    padding:  10px 0;
}
.client2{
    width:  50%;
    float:  left;
}
.client2 img{}
.client2 h2{
    padding: 15px 0;
}
.client2 p{
    padding:  10px 0;
}
.contactLast{
    margin-top:  30px;
}
.cLastText{
    margin: 0 auto;
    width:  80%;
    text-align:  center;
}
.cLastText h3{
    margin-bottom: 20px;
}
.cLastText hr{
    width:  10%;
    margin:  0 auto;
    border: 3px solid #33cccc;
} 
.cLastText p{
    padding:  25px 0;
} 
.form{
    width: 50%;
    float:  left;
    margin-top:  35px;
}
form{
    width: 100%;
}
form input[type="text"]:hover{

border: 1px solid #33cccc;
}
form input[type="text"]{
    width:  45%;
    height:  40px;
}
form input[type="email"]{
    width: 45%;
    float:  right;
    height:  40px;
}
form input[type="email"]:hover{

border: 1px solid #33cccc;
}
textarea{
    margin-top:  20px;
    width: 100%;
}
textarea:hover{

border: 1px solid #33cccc;
}
form input[type="submit"]{
    margin-top:  10px;
    padding:  5px 20px;
    background-color: #33cccc;
    border: 1px solid #33cccc;
}
.cLastContact{
    width:  50%;
    float: left;
    text-align:  center;
    margin-top:  5%;
}
.cLastContact h3{margin-bottom:  15px;}
.cLastContact i{
    padding: 0 10px;
    color: #33cccc;
}
.cLastContact p{
    text-align:  right;
    display:  inline-block;
}
.cLastContact ul{
    list-style:  none;
    margin-top:  25px;
}
.cLastContact ul li{
    display:  inline-block;
}
.cLastContact ul li a{
    color: #33cccc;
}